@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* For Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 1px; /* Make it thin */
}

::-webkit-scrollbar-track {
  background: #121212; /* Dark background */
}

::-webkit-scrollbar-thumb {
  background: #0b0b0b; /* Dark grey scrollbar */
  border-radius: 2px; /* Smooth edges */
}

::-webkit-scrollbar-thumb:hover {
  background: #090909; /* Slightly lighter when hovered */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0a0a0a #121212;
}


